:root {
    --self-gradient: linear-gradient(90deg, #B16CEA 14.06%, #FF5E69 44.79%, #FF8A56 71.87%, #FFA84B 100%);
}


.text-self-gradient {
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    background-image: var(--self-gradient);
}

.title-1{
    font-family: var(--font-bai-jamjure), sans-serif;
    font-weight: 700;
    font-size: rem(72px);
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-white));
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(48px);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(36px);
    }
}

.title-2{
    font-family: var(--font-bai-jamjure), sans-serif;
    font-weight: 700;
    font-size: rem(64px);
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-white));
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(44px);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(32px);
    }
}

.title-3 {
    color: light-dark(var(--mantine-color-dark-5), var(--mantine-color-white));
    font-family: var(--font-bai-jamjure), sans-serif;
    font-weight: 700;
    font-size: rem(54px);
    @media (max-width: $mantine-breakpoint-md) {
        font-size: rem(42px);
    }

    @media (max-width: $mantine-breakpoint-xs) {
        font-size: rem(28px);
    }
}
